<h1><%= @cocktail.name %></h1>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
  <li class="list-group-item">
    <%= dose.ingredient.name %>
    <%= dose.description %>
    <%= link_to "Delete #{dose.ingredient.name}",
            dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>
<%= link_to "Add a new dose",
  new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back to the list", cocktails_path %>




